<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<h3>Edit your Listing</h3><br>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title" class="form-lable">Enter Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter valid title!</div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-lable">Image Link</label>
        <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Please enter valid image url.</div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
        <div class="valid-feedback">Location should be valid</div>
        <div class="invalid-feedback">Please enetr valid Location</div>
    </div>
    
    <button class="btn btn-dark edit-btn mt-3">Edit</button>
    <br>
    <br>
</form>

    </div>
</div>